$white: #FFF;
$black: #333333;
$header: #E15C4D;
$divider: #DBDBDB;



.course-list {
	margin-left: auto;
	margin-right: auto;
	max-width: 740px;


	header {
		background: $header;
		border-bottom: 1px solid $divider;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		margin: 0;
		padding: 10px 16px;

		h2 {
			color: $white;
			font-size: 18px;
			font-weight: bold;
			margin: 0;
			text-align: left;
			-webkit-tap-highlight-color: transparent;
		}
	}

	.course-module {
		border-radius: 10px;
		box-shadow: 0 2px 13px 0 $divider;
		margin-bottom: 10px;
	}

	.course {
		border-bottom: 1px solid $divider;

		&:last-of-type {
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;

			h3 {
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}
		}

		h3 {
			align-items: center;
			background: $white;
			color: $black;
			display: flex;
			font-size: 15px;
			font-weight: 200;
			justify-content: flex-start;
			margin: 0;
			padding: 11px 16px;
			text-align: left;

			&:hover {
				color: $header;
				background-color: #E0E0E0;
			}

			> a {
				color: $header;
				text-decoration: none;

				&:hover {
					color: #E0E0E0;
				}
			}
		}

		.dashicons {
			margin-right: 5px;
		}
	}
}
